@charset "UTF-8";
body {
	background-color: #CCCCCC;
}

h1 {
	 font-weight: bold;
	 font-size: 45px;
	 font-family: "Times New Roman";
	 text-align: center;
}

h2 {
	font-size: 25px;
	font-family: "Times New Roman";
	text-align: center;
}

p {
	margin-left: 40px ;
	margin-right: 40px	;
}

#login {
	position: absolute;
	left:50px;
	bottom:70px;
	width: 200px;
	height:130px;
	background: #FFF;
}

input[type=text]{
	border: 1px solid #999;
 	border-radius: 5px;
 	width: 120px;
 	margin-left: 15px;
}

input[type=password]{
	border: 1px solid #999;
 	border-radius: 5px;
 	width: 120px;
 	margin-left: 13px;
}


h3 {
	text-align: center;
}


#reg {
	position:absolute;
	left: 400px;
	bottom: 170px;
}

#forgetPass {
	position:absolute;
	left: 400px;
	bottom: 130px;
}

#newRegistration {
	position: absolute;
	left:250px;
	bottom:100px;
	width: 300px;
	height:150px;
	background: #FFF;
}

